* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ヘッダー*/
header {
  height: 70px;
  width: 100%;
  background-color: #EC715F;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.logo_image {
  height: 70px;
}

.nav-list {
  display: flex;
}

/*ナビリスト*/
.nav-list-item {
  font-size: 16px;
  color: #FAFAFA;
  list-style: none;
  margin: 0 30px;
  line-height: 70px;
}

.nav-list-item a {
  color: #FAFAFA;
}