* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ヘッダー*/
header {
  height: 70px;
  width: 100%;
  background-color: #EC715F;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.logo_image {
  height: 70px;
}

.nav-list {
  display: flex;
}

/*ナビリスト*/
.nav-list-item {
  font-size: 16px;
  color: #FAFAFA;
  list-style: none;
  margin: 0 30px;
  line-height: 70px;
}

.nav-list-item a {
  color: #FAFAFA;
  text-decoration: none;
}

#mv {
  width :100%;
  height: 650px;
  background-image :url(img3/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.mv-title {
  color: #FAFAFA;
  font-size: 64px;
  padding-top: 200px;
}

.mv-text {
  color: #FAFAFA;
  font-size: 20px;
  padding-top:10px;
}

/*portfolio*/
#portfolio {
  background-color: #ECEFF1;
}

.production-group {
  width: 920px;
  display:flex;
  flex-flow: row wrap;
  padding: 30px 0 90px 0;
}

.heading-title {
  font-size: 32px;
  color: #000;
  padding-top:90px;
  text-align:center;
  border-bottom: 3px solid #EC715F;
}

.heading-text {
  text-align:center;
  font-size: 16px;
  color: #000;
  padding: 30px 0;
}

.production {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 10px 10px 0 0;
}

.bg-1 {
  background-image: url(img3/sketch.jpg);
}

.bg-2 {
  background-image: url(img3/websuku.png);
}

.bg-3 {
  background-image: url(img3/write.jpg);
}

.bg-4 {
  background-image: url(img3/webcamp.png);
}

.bg-5 {
  background-image: url(img3/talk.jpg);
}

.bg-6 {
  background-image: url(img3/webcamp-mother.png);
}

.production:nth-child(3n) {
  margin-right: 0;
}

#feature {
}

.strength-group {
  width: 980px;
  display: flex;
  margin-bottom: 90px;
}

.strength {
  text-align: center;
  width: 320px;
  margin-right: 10px;
  font-size: 60px;
}

.strength-title {
  padding: 10px 0;
  font-size: 20px;
  color: #000;
}

.strength-text {
  text-align: left;
  font-size: 16px;
  color: #000;
}